<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>REPLACE_WITH_YOUR_IOS_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>889983767784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandbox.notion</string>
	<key>PROJECT_ID</key>
	<string>sandboxnotion</string>
	<key>STORAGE_BUCKET</key>
	<string>sandboxnotion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889983767784:ios:ee1505262ed22221a4655d</string>
	<key>CLIENT_ID</key>
	<string>889983767784-example3randomvaluegoeshere.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889983767784-example3randomvaluegoeshere</string>
	<key>DATABASE_URL</key>
	<string>https://sandboxnotion.firebaseio.com</string>
</dict>
</plist>
